<div class="header">
  <h1>Поиск ресторана</h1>
</div>

<!--<div class="div-zv">-->
<!--&lt;!&ndash;  <img class="img" src="assets/zv.png" />&ndash;&gt;-->
<!--</div>-->

<div [formGroup]="form" class="search">
  <input formControlName="field" type="text" placeholder="Введите блюдо (напр.: бургер)" />
  <button (click)="search()">Найти</button>
</div>

<p class="feedback" *ngIf="notFound">Ничего не найдено</p>

<ng-container *ngIf="!notFound">
    <div (click)="showRest(item)" class="restaurant" *ngFor="let item of data | async">
      <h2 class="restaurant__name">{{item.name}}</h2>
      <div class="restaurant__info">
        <img [src]="'../assets/'+item.name+'.jpeg'" class="restaurant__photo"/>
        <p class="restaurant__desc">{{item.description}} <br/> <br/>
          <i>адрес: </i>{{item.address}}</p>
      </div>
    </div>
</ng-container>

<ng-container *ngIf="showCurrentRest">
  <div class="popup">
    <div class="popup__restaurant" *ngIf="currentRest">
      <span (click)="close()" class="popup__close">закрыть ×</span>
      <h2>{{currentRest.name}}</h2>
      <img [src]="'../assets/'+currentRest.name+'.jpeg'" class="popup__photo"/>
      <p><i>{{currentRest.description}} </i><br/> <br/>
        <b>адрес: </b>{{currentRest.address}}</p>
      <div class="popup__menu">
        <b class="popup__title-menu">Меню:</b>
        <table id="element" class="popup__table">
          <tr *ngFor="let dish of currentRest.menu">
            <td class="popup__td1">{{dish.name}}</td>
            <td class="popup__td2">-</td>
            <td class="popup__td3">{{dish.price}}₽</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-container>

